.header-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon-container .tooltip {
  position: absolute;
  bottom: -35px;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.header-icon-container:hover .tooltip {
  opacity: 1;
}